.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--bs-light) !important;
}

.content {
  padding: 20px 15%;
}

.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.categories-wrapper a {
  opacity: 1;
  transition: all .3s;
}

.categories-wrapper a:hover {
  opacity: 0.6;
  transition: all .3s;
}

.categories-item {
  flex: 1 0 50%;
}

.step-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-inner {
  display: flex;
  align-items: center;
}

.step-inner {
  width: fit-content;
  display: flex;
  align-items: center;
}

.categories-image-wrapper, .step-image-wrapper {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-image, .step-image {
  height: 70px;
  width: auto;
  display: block;
}

.categories-name, .step-category-name {
  display: block;
  padding: 20px;
  flex: 1;
}

.home-link {
  position: absolute;
  top: 3rem;
  left: calc(15% + 1rem);
  color: black;
}

.category-layout {
  display: flex;
}

.category-sidebar {
  width: 20%;
}

.category-content {
  width: 80%;
}

.product {
  width: 100%
}

.product-header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.product-image-wrapper {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-height: 70px;
  width: auto;
  display: block;
  max-width: 120px;
}

.product-main-info {
  display: block;
  padding: 20px;
  flex: 1;
}

.attribute-range .MuiSlider-rail {
  background-color: var(--bs-secondary);
}

.clickable {
  cursor: pointer;
  transition: opacity .3s;
}

.clickable:hover {
  opacity: .8;
  transition: opacity .3s;
}

.category-modal {
  --bs-modal-width: 60% !important;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-wrapper.center {
  justify-content: center;
}

.flex-item {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.fit-content {
  width: fit-content;
}

.removable, .addable {
  cursor: pointer;
}

.removable:hover {
  background-color: var(--bs-danger-bg-subtle) !important;
  border-color: var(--bs-danger) !important;
}

.addable:hover {
  background-color: var(--bs-success-bg-subtle) !important;
  border-color: var(--bs-success) !important;
}

.hidden-thumb .MuiSlider-thumb, .hidden-thumb .MuiSlider-track {
  display: none;
}